*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

header{
  color: white;
  /*text-align: center;*/
  background-color:#fbb0c7;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  font-size: 20px;

}
/*aplicando estilos a los enlaces del encabezado*/
header a{
  /*outline: 1px solid red;*/
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
/*titulo twitter*/
header h1{
  /*outline: 1px solid blue;*/
  width: 30%;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}
/*buscador de twiters*/
header .search{
  display: inline-block;
  border: 1px solid white;
  background-color: #FFC0CB;
  border-radius: 10px;
  margin-left: 100px;
}
/*estilos a la entrada del buscador*/
header .search input{
border: none;
background-color: transparent;
}
/*estilos al usuario*/
.user{
  margin-left: 70px;
  font-size: 18px;
}
main{
  background-image: url(../assets/images/paris7.jpg);
  /*la imagen de fondo no se repite*/
  background-repeat: no-repeat;
  /*se aplica para que cubra toda la zona*/
  background-size: cover;
  height: 1300px;
}
/*aplicando estilo al cuadro de presentacion*/
main .presentation{
  border:5px dotted #FFC0CB;
  background-color: white;
  width: 20%;
  height: 300px;
  position: relative;
  top:120px;
  left: 20px;
  border-radius: 10px;
}
/*primera sección*/
main .presentation .box1{
  background-color: #FFC0CB;
  height: 100px;
}
/*circulo*/
.presentation .circle{
  height: 60px;
  width: 60px;
  border: 2px solid white;
  border-radius: 50px;
  background-color: #FFB6C1;
  position: relative;
  bottom: 380px;
}
/*icono del circulo*/
.presentation .circle i{
  color:white;
  margin-left: 20px;
  margin-top: 15px;
}
/*texto de la presentacion*/
.presentation .text{
  /*outline: 1px solid red;*/
  margin-left: 70px;
  margin-bottom: 300px;
  height: 50px;
}

/*contenedor*/
.box{
  /*outline: 1px solid red;*/
  width: 50%;
  height: 300px;
  position: relative;
  left: 30%;
  bottom: 170px;
}
/*formulario*/
.formulario{
  background-color: white;
  border-radius: 20px;
}
/*entrada del texto*/
#entrada{
  width: 100%;
  height: 80px;
  border: 1px solid #fbb0c7;
  border-bottom: 5px dotted #fbb0c7;
}
/*boton enviar */
#enviar{
  padding: 10px;
  border-radius: 10px;
  background-color:  #FFB6C1;
  border: 3px dotted #FA8072;
  color: white;
}
#contador{
/*outline: 1px solid blue;*/
height: 20px;
display: inline-block;
width: 30px;
margin-left: 550px;
font-size: 30px;

}
/*contenedor de los nuevos mensajes*/
#caja{
  width: 70%;
}
/*nuevos textos*/
#caja div{
  background-color:#fbb0c7;
  margin-top: 10px;
  border-radius: 5px;
}
